/* Body Styling */

body {
    font-family: "Roboto", sans-serif;
    background-color: #d3d3d3;
}

/* General Styling for Webpages */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Aligning Content in the Center Styling */

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Row Class Styling */

.row {
    margin-right: 0;
    margin-left: 0;
}

/* Container Fluid Class Styling */

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/* Title section of index.html */

.title-section {
    height: 20vh;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-section a {
    text-decoration: none;
}

.title-heading {
    font-size: 4rem;
    color: #2F5597;
    justify-content: center;
    align-items: center;
}

.title-image {
    vertical-align: middle;
    width: 125px;
}

/* Menu section of index.html */

.menu-section {
    height: 70vh;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 600px;
    background-color: #fafafa;
    border-radius: 50px;
    border: 3px solid #2F5597;
    gap: 20px;
}

.play-button {
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
    background-color: #D40C00;
    color: white;
    border-radius: 25px;
    border: 3px solid #2F5597;
}

.play-button a {
    text-decoration: none;
    color: #fafafa;
}

.play-button a:hover {
    color: #2F5597;
}

/* how to play button and how to play pop up text for index.html */

.how-to-button {
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
    background-color: #FF8B3D;
    color: #fafafa;
    border-radius: 25px;
    border: 3px solid #2F5597;
}

.how-to {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF883D;
    border-radius: 25px;
    border: 3px solid #2F5597;
    width: 750px;
    max-width: 750px;
    height: 64vh;
}

.how-to-header {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-to-header .header {
    color: #fafafa;
    font-size: 2rem;
    text-decoration: underline;
}

.how-to-text {
    padding: 30px;
    padding-bottom: 5px;
    font-size: 0.95rem;
    color: #fafafa;
}

.close-how-to {
    position: absolute;
    font-size: 1rem;
    padding: 1rem;
    width: 10rem;
    background-color: #D40C00;
    color: #fafafa;
    border-radius: 1rem;
    border: 3px solid #fafafa;
    left: 40%;
}

/* high score button and high score pop up text for index.html */

.high-score {
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
    background-color: #38761D;
    color: white;
    border-radius: 25px;
    border: 3px solid #2F5597;
}

/* contact button and contact form for index.html */

.contact-button {
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
    background-color: #7C5295;
    color: white;
    border-radius: 25px;
    border: 3px solid #2F5597;
}

.contact-form {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7C5295;
    border-radius: 25px;
    border: 3px solid #2F5597;
    width: 750px;
    max-width: 750px;
    height: 55vh;
}

.contact-header .header {
    padding: 10px;
    color: #fafafa;
    font-size: 1.5rem;
    text-align: center;
}

.form-content {
    position: absolute;
    padding: 30px;
    height: 575px;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2F5597;
    border: 3px solid #fafafa;
    border-radius: 25px;
}

.form-content label {
    color: #fafafa;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px;
    text-align: left;
    margin: 5px;
}

::placeholder {
    color: #fafafa;
}

.form-content input {
    border: 2px solid #fafafa;
    background-color: #7C5295;
    color: #fafafa;
    margin-left: 10px;
    width: 96%;
}

.form-content textarea {
    border: 2px solid #fafafa;
    background-color: #7C5295;
    color: #fafafa;
    margin-left: 10px;
    width: 96%;
}

.close-contact-form {
    position: absolute;
    top: 485px;
    right: 49px;
    font-size: 1rem;
    padding: 0.8rem;
    width: 10rem;
    background-color: #D40C00;
    color: #fafafa;
    border-radius: 1rem;
    border: 3px solid #fafafa;
}

.submit-button {
    position: absolute;
    top: 485px;
    left: 40px;
    font-size: 1rem;
    padding: 0.8rem;
    width: 10rem;
    background-color: #38761D;
    color: #fafafa;
    border-radius: 1rem;
    border: 3px solid #fafafa;
}

/* Footer Section of index.html */

.footer-section {
    height: 10vh;
    background-color: #2F5597;
    display: flex;
}

.linkedin-index {
    flex-grow: 50%;
    width: 50%;
}

.linkedin-index a {
    text-decoration: none;
}

.linkedin-index i {
    font-size: 2.5rem;
    color: #fafafa;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.linkedin-index h6 {
    font-size: 1rem;
    color: #fafafa;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.github-index {
    flex-grow: 50%;
    width: 50%;
}

.github-index a {
    text-decoration: none;
}

.github-index i {
    font-size: 2.5rem;
    color: #fafafa;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.github-index h6 {
    font-size: 1rem;
    color: #fafafa;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

/* game.html footer section */

.linkedin-game {
    flex-grow: 33.33%;
    width: 33.33%;
}

.linkedin-game a {
    text-decoration: none;
}

.linkedin-game i {
    font-size: 2.5rem;
    color: #fafafa;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.linkedin-game h6 {
    font-size: 1rem;
    color: #fafafa;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.contact-game {
    flex-grow: 33.33%;
    width: 33.33%;
}

.contact-game a {
    text-decoration: none;
}

.contact-game i {
    font-size: 2.5rem;
    color: #fafafa;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.contact-game h6 {
    font-size: 1rem;
    color: #fafafa;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.github-game {
    flex-grow: 33.33%;
    width: 33.33%;;
}

.github-game a {
    text-decoration: none;
}

.github-game i {
    font-size: 2.5rem;
    color: #fafafa;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.github-game h6 {
    font-size: 1rem;
    color: #fafafa;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

/* options.html code */

.reset-option {
    flex-grow: 50%;
    width: 50%;
}

.main-menu-option {
    flex-grow: 50%;
    width: 50%;
}

.option-section {
    height: 70vh;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option-style {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65vh;
    width: 1200px;
    background-color: #fafafa;
    border-radius: 50px;
    border: 3px solid #2F5597;
    margin-bottom: 100px;
    padding: 25px;
}

.maths-questions-text {
    text-align: center;
    font-size: 2rem;
    color: #333;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

.maths-questions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

/* Maths Questions - Addition Button Styling */

.add-button {
    background-color: #2F5597;
    width: 150px;
    height: 150px;
    color: #fafafa;
    font-size: 5rem;
    padding: 0rem 1rem 8rem;
    border-radius: 100%;
    border: 2px solid #2F5597;
}

/* Maths Questions - Subtraction Button Styling */

.sub-button {
    background-color: #D40C00;
    width: 150px;
    height: 150px;
    color: #fafafa;
    font-size: 5rem;
    padding: 0rem 1rem 8rem;
    border-radius: 100%;
    border: 4px solid #2F5597;
}

/* Maths Questions - Multiplication Button Styling */

.multiply-button {
    background-color: #FF8B3D;
    width: 150px;
    height: 150px;
    color: #fafafa;
    font-size: 5rem;
    padding: 0rem 1rem 8rem;
    border-radius: 100%;
    border: 4px solid #2F5597;
}

/* Maths Questions - Division Button Styling */

.divide-button {
    background-color: #38761D;
    width: 150px;
    height: 150px;
    color: #fafafa;
    font-size: 5rem;
    padding: 0rem 1rem 8rem;
    border-radius: 100%;
    border: 4px solid #2F5597;
}

/* Maths Questions - Multiple Maths Button Styling */

.multiple-style {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

/* Maths Questions - Multiple Maths Button Styling */

.multiple-button {
    background-color: #7C5295;
    width: 150px;
    height: 150px;
    color: #fafafa;
    padding: 0rem 1rem 8rem;
    border-radius: 100%;
    border: 4px solid #2F5597;
}

/* Multiple Maths Button - Addition Symbol Styling */

.add {
    position: absolute;
    top: -10px;
    left: 25px;
    font-size: 4rem;
}

/* Multiple Maths Button - Subtraction Symbol Styling */

.sub {
    top: -25px;
    position: absolute;
    right: 30px;
    font-size: 5rem;
}

/* Multiple Maths Button - Multiplication Symbol Styling */

.multiply {
    position: absolute;
    bottom: 10px;
    left: 35px;
    font-size: 3.5rem;
}

/* Multiple Maths Button - Division Symbol Styling */

.divide {
    position: absolute;
    bottom: 7px;
    right: 25px;
    font-size: 3.5rem;
}

/* Horizontal Line Styling for Multiple Maths Button */

.line-h {
    border: 2px solid #2f5597;
    width: 150px;
    position: absolute;
    top: 75px;
    left: 0;
}

/* Vertical Line Styling for Multiple Maths Button */

.line-v {
    border: 2px solid #2f5597;
    height: 148px;
    position: absolute;
    top: 0px;
    left: 75px;
}

/* Maths Difficulty section for the options.html file*/

/* Maths Difficulty section styling */

.maths-difficulty {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
}

/* Maths Difficulty - Title Styling */

.maths-difficulty-text {
    color: #333;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
}

/* Maths Difficulty - Easy Button Styling */

.easy-button {
    font-size: 1.5rem;
    width: 175px;
    height: 50px;
    background-color: #2f5597;
    color: white;
    border-radius: 10px;
    border: 3px solid #2F5597;
}

/* Maths Difficulty - Medium Button Styling */

.medium-button {
    font-size: 1.5rem;
    width: 175px;
    height: 50px;
    background-color: #FF883D;
    color: white;
    border-radius: 10px;
    border: 3px solid #2F5597;
    margin-left: -1px;
}

/* Maths Difficulty - Hard Button Styling */

.hard-button {
    font-size: 1.5rem;
    width: 175px;
    height: 50px;
    background-color: #7C5295;
    color: white;
    border-radius: 10px;
    border: 3px solid #2F5597;
}

/* Maths Timer section for the options.html file*/

/* Maths Timer section styling */

.maths-timer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

/* Maths Timer - Title Styling */

.maths-timer-text {
    color: #333;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 7px;
}

/* Maths Timer - 1 Minute Button Styling */

.lowminutes-button {
    font-size: 1.5rem;
    width: 175px;
    height: 50px;
    background-color: #2f5597;
    color: white;
    border-radius: 10px;
    border: 3px solid #2F5597;
}

/* Maths Timer - 3 Minutes Button Styling */

.midminutes-button {
    font-size: 1.5rem;
    width: 175px;
    height: 50px;
    background-color: #FF883D;
    color: white;
    border-radius: 10px;
    border: 3px solid #2F5597;
    margin-right: 1px;
}

/* Maths Timer - 5 Minutes Button Styling */

.highminutes-button {
    font-size: 1.5rem;
    width: 175px;
    height: 50px;
    background-color: #7C5295;
    color: white;
    border-radius: 10px;
    border: 3px solid #2F5597;
    margin-right: -5px;
}

/* Maths Questions Amount section for the options.html file*/

/* Maths Questions Amount section styling */

.maths-questions-limit {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Maths Questions Amount - Title Styling */

.maths-questions-limit-text {
    color: #333;
    margin-left: -60px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* Maths Questions Amount - 12 Questions Button Styling */

.lowquestions-button {
    font-size: 1.5rem;
    width: 175px;
    height: 50px;
    background-color: #2f5597;
    color: white;
    border-radius: 10px;
    border: 3px solid #2F5597;
}

/* Maths Questions Amount - 15 Questions Button Styling */

.midquestions-button {
    font-size: 1.5rem;
    width: 175px;
    height: 50px;
    background-color: #FF883D;
    color: white;
    border-radius: 10px;
    border: 3px solid #2F5597;
}

/* Maths Questions Amount - 18 Questions Button Styling */

.highquestions-button {
    font-size: 1.5rem;
    width: 175px;
    height: 50px;
    background-color: #7C5295;
    color: white;
    border-radius: 10px;
    border: 3px solid #2F5597;
}

/* Maths Questions - Start Button Styling */

.start-button {
    font-size: 1.5rem;
    padding: 1rem;
    width: 18rem;
    background-color: #38761d;
    color: white;
    border-radius: 25px;
    border: 3px solid #2F5597;
    position: absolute;
    margin-top: 130px;
    margin-left: -450px;
}

/* Maths Questions - Back to Main Menu Button Styling */

.option-main-menu-button {
    font-size: 1.5rem;
    padding: 1rem;
    width: 18rem;
    background-color: #7C5295;
    color: white;
    border-radius: 25px;
    border: 3px solid #2F5597;
    position: absolute;
    margin-top: 27px;
    margin-left: 75px;
}

/* game.html code */

.game-section {
    height: 65vh;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 700px;
    background-color: #fafafa;
    border-radius: 50px;
    border: 3px solid #2F5597;
    margin-bottom: 100px;
}

.game-reset-button {
    font-size: 1.5rem;
    padding: 1rem;
    width: 10rem;
    background-color: #D40C00;
    color: white;
    border-radius: 25px;
    border: 3px solid #2F5597;
    position: absolute;
    left: 218px;
    bottom: 130px;
}

.game-options-button {
    font-size: 1.5rem;
    padding: 1rem;
    width: 20rem;
    background-color: #FF8B3D;
    color: white;
    border-radius: 25px;
    border: 3px solid #2F5597;
    position: absolute;
    left: 625px;
    bottom: 130px;
}

.game-main-menu-button {
    font-size: 1.5rem;
    padding: 1rem;
    width: 20rem;
    background-color: #7C5295;
    color: white;
    border-radius: 25px;
    border: 3px solid #2F5597;
    position: absolute;
    right: 218px;
    bottom: 130px;
}